/* You can add global styles to this file, and also import other style files */
nav a:active {
    color : red;
}


nav a:hover {
    color : red;
}

li.selected {
    color : red;
}
.info-ico{
    width: 20px;
    height: 16px;
    display: inline-block;
    background: url(http://d2lsqxmpmoo5k8.cloudfront.net/web/css/images/sorting_sprite.png) 0 -483px no-repeat;
}
.p {
    background: 0 0;
        background-color: rgba(0, 0, 0, 0);
    background-color: #fc961e !important;
    border: none !important;
    text-transform: capitalize;
}

.d {
    background: 0 0;
        background-color: rgba(0, 0, 0, 0);
    background-color: #007c09  !important;
    border: none !important;
    text-transform: capitalize;
}

.c {
    background: 0 0;
        background-color: rgba(0, 0, 0, 0);
    background-color: #1d8dc0  !important;
    border: none !important;
    text-transform: capitalize;
}

.a {
    background: 0 0;
        background-color: rgba(0, 0, 0, 0);
    background-color: #aa0a1c  !important;
    border: none !important;
    text-transform: capitalize;
}

.role {
    display: inline-block !important;
    min-width: 20px !important;
    color: #FFF;
    text-align: center;
    line-height: 1.5em !important;
    margin: 1px;

}

.step{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.nobor {
    border-top: none;
padding-top: 10px;
}

.disappear{
    background-color: lightgrey;
    padding: 5px;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

.spanxxl{
    font-size: x-large;
}

.right {
    text-align:right;
    
}



body {
    background-image: url("../../ui/src/assets/field.jpg");
    background-color: #cccccc;
    background-repeat: repeat;

    
}

.app {
    background-color: white;
    border: 4px solid black;
    padding: 10px;
    border-radius: 50px 20px;
    
}

.header{
    border-bottom: 1px solid black;
    


}

.customStats{
    background: linear-gradient(to bottom right, white , rgb(253, 97, 97), white );
}

.right {
  margin-bottom: solid 1px grey
}



.sub{
         border-bottom: 1px solid lightgray;
}

.nobor {
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.team{
    background: lightblue
}
    