<div class="splashscreen" *ngIf="spinnerService.isLoading | async">
    <div class="cube1"></div>
    <div class="cube2"></div>
</div>


<div class="splashscreen" *ngIf="headerService.currentErrorMessage | async">
    <div class="splashscreenText">
        <h1>
            <strong>Errore</strong>
        </h1>
        <h2>{{headerService.currentErrorMessage | async}}</h2>
        <br>
        <button type="button" class="btn btn-default" (click)="closeSplashScreen()">Chiudi</button>
    </div>
</div>


<!-- 
<div class="spinner" *ngIf=" spinnerService.isLoading | async">
    
   

    <div class="cube1" ></div>
    <div class="cube2" ></div>


</div> -->

<div class="app col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
    <app-header style="padding:100px;"></app-header>
    <router-outlet></router-outlet>
</div>