<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Routing and Navigation
  </h1>
</div>
<nav>
  <!-- <a href="/employees" routerLinkActive = "strong"> Employees </a> -->
  <!-- <a href="/departments" routerLinkActive = "strong"> Departments </a> -->
  <span> Ciao {{user}}</span>
  <button class="btn btn-primary " [routerLink]="['/login']" routerLinkActive = "strong"> Logout </button>

</nav>

<router-outlet></router-outlet>
<!-- Routed view go here -->
